// _toggle_yes_no.scss
.toggle-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.toggle.checkcross {
  label.toggle-item {
    width: 7em;
    background: #2e394d;
    height: 3em;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    transition: all .3s ease;
    transform-origin: 20% center;
    cursor: pointer;

    &::before {
      content: none;
    }

    .check {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      position: absolute;
      background: #8BC34A;
      transition: .4s ease;
      top: 4.5px;
      left: 4.5px;

      &::before,
      &::after {
        height: 4px;
        border-radius: 10px;
        background: #fff;
        transition: .4s ease;
      }

      &::before {
        width: 25px;
        transform: rotate(-45deg) translate(-6px, 20px);
      }

      &::after {
        width: 10px;
        transform: rotate(45deg) translate(20px, 11px);
      }
    }
  }

  input:checked + label.toggle-item {
    .check {
      left: 68px;
      transform: rotate(360deg);
      background: #c34a4a;

      &::before {
        width: 27px;
        transform: rotate(-45deg) translate(-8px, 18px);
      }

      &::after {
        width: 27px;
        transform: rotate(45deg) translate(18px, 8px);
      }
    }
  }
}

input[type="checkbox"] {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.name {
  font: 500 14px 'Rubik', sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}