/*@import url(https://fonts.bunny.net/css?family=khand:300);*/
@import url(https://fonts.bunny.net/css?family=caveat:400) layer(demo);
@import "https://codepen.io/cbolson/pen/rNEdgKo.css" layer(template);
@layer template, demo;

@layer demo {
  .profiles {
    --size: 200px;
    --img-clip: "M 0 -50 L 200 -50 L 200 150 C 100 150 0 250 0 150 Z"; /* unfortunatly it isn't possible (as far as I know) to use custom properties in clip paths */
    --img-shadow: drop-shadow(5px 5px 2px rgba(0 0 0 / 0.5));
    --name-txt-clr: #eee;
    --bg-clr: steelblue; /* only displayed if no background image defined */
    --bg-blur: 0; /* background image default blur */
    --bg-blur-hover: 20px; /* background image blur on hover */

    font-family: "Caveat", handwriting;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols, 1), var(--size));
    gap: 2rem;
    margin: 20vh auto;
    width: fit-content;
  }
  @media (min-width: 500px) {
    .profiles {
      --grid-cols: 2;
    }
  }
  @media (min-width: 860px) {
    .profiles {
      --grid-cols: 4;
    }
  }
  .avatar {
    position: relative;
    width: var(--size);
    height: var(--size); /* for older browsers */
    aspect-ratio: 1;
  }
  .avatar-img {
    clip-path: path(var(--img-clip));
  }

  .avatar-img::before {
    content: "";
    position: absolute;
    display: blocl;
    inset: 50% 0 0 0;
    z-index: -1;
    border-radius: 20px;
    background-color: var(--bg-clr); /* fallback if image not defined as custom property */
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    filter: blur(var(--bg-blur));
    transition: filter 300ms ease-in-out;
  }
  .avatar-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
      scale 300ms,
      filter 300ms;
    transform-origin: bottom;
    scale: var(--img-scale, 0.9);
    filter: var(--img-shadow);
  }

  .avatar > p {
    font-size: 1.4rem;
    color: var(--name-txt-clr);
    position: absolute;
    bottom: -1rem;
    right: 0.25rem;
    translate: 0 var(--name-y, -50px);
    opacity: var(--name-opacity, 0);
    z-index: -1;
    transition-name: translate, opacity;
    transition-delay: 150ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8), ease-in-out;
  }

  /* all hover effects as custom properties */
  .avatar:hover {
    --img-scale: 1.1;
    --img-shadow: drop-shadow(10px 15px 4px rgba(0 0 0 / 0.5));
    --name-y: 0;
    --name-opacity: 1;
    --bg-blur: var(--bg-blur-hover);
  }
}
