.day-night-camping {
  &__land {
    position: absolute;
    top: 60%;
    left: 30%;
    width: 500px;
    height: 10px;
    background: #000;
    border-radius: 10%;
  }

  &__chimney {
    position: absolute;
    left: 15%;
    width: 40px;
    height: 10px;
    background: #ff8c1a;
    border-radius: 10%;
  }

  &__fire1 {
    position: absolute;
    bottom: 0%;
    left: 15%;
    width: 8px;
    height: 24px;
    background: #ff8c1a;
    border-radius: 5px;
    animation: fireFlicker 0.5s infinite alternate;
  }

  &__fire2 {
    position: absolute;
    bottom: 55%;
    left: 18.2%;
    width: 8px;
    height: 30px;
    background: #ff8c1a;
    border-radius: 5px;
    animation: fireFlicker 0.7s infinite alternate;
  }

  &__fire3 {
    position: absolute;
    bottom: 54%;
    left: 21.5%;
    width: 8px;
    height: 34px;
    background: #ff8c1a;
    border-radius: 5px;
    animation: fireFlicker 0.6s infinite alternate;
  }

  &__stick1 {
    position: absolute;
    bottom: 44%;
    left: 6%;
    width: 7px;
    height: 90px;
    background: #001;
    border-radius: 5px;
  }

  &__stick2 {
    z-index: 10;
    position: absolute;
    bottom: 44%;
    left: 30%;
    width: 7px;
    height: 90px;
    background: #001;
    border-radius: 5px;
  }

  &__stick3 {
    z-index: 10;
    position: absolute;
    bottom: 800%;
    left: 4%;
    width: 150px;
    height: 6px;
    background: #001;
    border-radius: 5px;
  }

  &__vessel {
    z-index: 10;
    position: absolute;
    bottom: 460%;
    left: 15%;
    width: 34px;
    height: 34px;
    border-radius: 5%;
    border: solid #001;
  }

  &__fluid {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 18px;
    background: #ff3300;
    border-radius: 10%;
  }

  &__camp {
    z-index: 10;
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #EBD090;
    border-radius: 5%;
  }

  &__camp3 {
    z-index: 10;
    position: absolute;
    bottom: 40%;
    left: 60%;
    width: 0;
    height: 0;
    border-right: 18px solid transparent;
    border-bottom: 101px solid #000;
  }

  &__camp2 {
    z-index: 20;
    position: absolute;
    bottom: 40%;
    left: 65%;
    width: 100px;
    height: 100px;
    -webkit-transform: skew(27deg);
    -moz-transform: skew(27deg);
    -o-transform: skew(27deg);
    background: #D84315;
    border-radius: 5%;
  }

  &__camp1 {
    z-index: 25;
    position: absolute;
    bottom: 40%;
    left: 67.7%;
    width: 100px;
    height: 50px;
    -webkit-transform: skew(27deg);
    -moz-transform: skew(27deg);
    -o-transform: skew(27deg);
    background: #E38D32;
    border-radius: 5%;
  }

  &__camp4 {
    z-index: 25;
    position: absolute;
    bottom: 100%;
    left: 67.5%;
    width: 80px;
    height: 80px;
    -webkit-transform: skew(27deg);
    -moz-transform: skew(27deg);
    -o-transform: skew(27deg);
    background: #663d00;
    border-radius: 10%;
    opacity: 0.6;
  }

  &__mountain1 {
    z-index: 5;
    position: absolute;
    bottom: 90.5%;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-bottom: 200px solid #333;
  }

  &__mountain2 {
    z-index: 5;
    position: absolute;
    bottom: 90.5%;
    left: 46%;
    width: 0;
    height: 0;
    border-right: 80px solid transparent;
    border-bottom: 200px solid #222;
  }

  &__mountain3 {
    z-index: 2;
    position: absolute;
    bottom: 90.5%;
    left: 80.4%;
    width: 0;
    height: 0;
    border-right: 80px solid transparent;
    border-bottom: 200px solid #222;
  }

  &__mountain4 {
    z-index: 2;
    position: absolute;
    bottom: 90.5%;
    left: 65%;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-bottom: 200px solid #333;
  }

  &__mountain5 {
    z-index: 1;
    position: absolute;
    bottom: 592%;
    left: 48%;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 100px solid #111;
  }

  &__moon {
    position: absolute;
    bottom: 2000%;
    left: 15%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 4px 6px 0px #fff;
    animation: dayNightCampingMoon 30s infinite linear;
  }

  &__light {
    position: relative;
    top: -30%;
    left: -30%;
    width: 200%;
    height: 200%;
    background: #eee;
    opacity: 0.5;
    border-radius: 50%;
  }

  &__light2 {
    position: relative;
    top: -330%;
    left: -130%;
    width: 400%;
    height: 400%;
    background: #fff;
    opacity: 0.2;
    border-radius: 50%;
  }

  &__light3 {
    position: relative;
    top: -830%;
    left: -230%;
    width: 600%;
    height: 600%;
    background: #fff;
    opacity: 0.1;
    border-radius: 50%;
  }

  &__stars,
  &__stars1,
  &__stars2,
  &__stars3,
  &__stars4 {
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    background: #ddd;
    animation: dayNightCampingMoon 30s infinite linear;
  }

  &__stars {
    bottom: 2500%;
    left: 10%;
    width: 6px;
    height: 6px;
  }

  &__stars1 {
    bottom: 1800%;
    left: 35%;
    width: 10px;
    height: 10px;
  }

  &__stars2 {
    bottom: 1500%;
    left: 4%;
    width: 4px;
    height: 4px;
  }

  &__stars3 {
    bottom: 2300%;
    left: 40%;
    width: 6px;
    height: 6px;
  }

  &__stars4 {
    bottom: 2300%;
    left: 40%;
    width: 6px;
    height: 6px;
  }

  &__smoke,
  &__smoke1,
  &__smoke2,
  &__smoke3,
  &__smoke4 {
    z-index: 30;
    position: absolute;
    width: 5px;
    border-radius: 25%;
    background: #994d00;
    animation: dayNightCampingBounce 2.5s infinite linear;
  }

  &__smoke {
    bottom: 1000%;
    left: 20%;
    height: 10px;
    opacity: 0.6;
  }

  &__smoke1 {
    bottom: 800%;
    left: 17%;
    height: 10px;
    animation-delay: 0.5s;
  }

  &__smoke2 {
    bottom: 1100%;
    left: 17%;
    height: 10px;
    opacity: 0.6;
    animation-delay: 1s;
  }

  &__smoke3 {
    bottom: 1300%;
    left: 20%;
    height: 5px;
    opacity: 0.48;
    animation-delay: 1.5s;
  }

  &__smoke4 {
    bottom: 1400%;
    left: 17%;
    height: 5px;
    opacity: 0.44;
    animation-delay: 2s;
  }

  &__cloud,
  &__cloud1,
  &__cloud2,
  &__cloud3 {
    z-index: 100;
    position: absolute;
    bottom: 1500%;
    width: 40px;
    height: 10px;
    background: #fff;
    border-radius: 15px;
    opacity: 0.7;
    animation: dayNightCampingFloat 19s infinite linear;
  }

  &__cloud {
    left: 57%;
  }

  &__cloud1 {
    left: 51%;
    animation-duration: 19.5s;
  }

  &__cloud2 {
    left: 77%;
    animation-duration: 17.5s;
  }

  &__cloud3 {
    bottom: 1900%;
    left: 48%;
    animation-duration: 18.5s;
  }
}

@keyframes dayNightCampingBounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes dayNightCampingFloat {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes dayNightCampingBg {
  0% {
    background: #212121;
  }
  50% {
    background: #03A9F4;
  }
  100% {
    background: #212121;
  }
}

@keyframes dayNightCampingMoon {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fireFlicker {
  0% {
    transform: scaleY(1) scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(1.1) scaleX(0.9);
    opacity: 0.8;
  }
}

.day-night-camping {
  background-color: #1F4769;
  animation: dayNightCampingBg 30s infinite linear;
}
