.weather-breezy {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 40%;
  background: linear-gradient(to top right, rgba(156, 204, 101, 1) 0%, rgba(38, 198, 218, 1) 50%);
  box-shadow: 1px 1px 30px rgba(38, 198, 218, 1);
  overflow: hidden;

  &__cloud {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(96, 125, 139, 1);
    box-shadow: 1px 1px 30px rgba(84, 110, 122, 1);
    animation: weather-breezy-flash 1.5s infinite linear;
  }

  &__wind-lines {
    position: absolute;
    margin: 0;
    padding: 0;

    li {
      position: absolute;
      list-style: none;
      width: 2px;
      height: 7px;
      border-radius: 10%;
      background-color: #eee;
      opacity: 0;
      animation: weather-breezy-fall 3s infinite linear;
      transform: rotate(25deg);

      &:nth-child(1) { top: 10%; left: 95%; }
      &:nth-child(2) { top: 5%; left: 83%; animation-delay: 0.3s; }
      &:nth-child(3) { top: 4%; left: 87%; animation-delay: 0.6s; }
      &:nth-child(4) { top: 15%; left: 70%; animation-delay: 1s; }
      &:nth-child(5) { top: 10%; left: 75%; }
    }
  }
}

@keyframes weather-breezy-flash {
  48% { background-color: rgba(96, 125, 139, 1); }
  50% { background-color: #fff; }
  55% { background-color: rgba(96, 125, 139, 1); }
  57% { background-color: #fff; }
}

@keyframes weather-breezy-fall {
  10% { opacity: 0.8; }
  50% { opacity: 1; transform: translate(-10px, 30px) rotate(25deg); }
  100% { transform: translate(-25px, 70px) rotate(25deg); }
}
