.night-sky-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #0D133A;
  overflow: hidden;

  &__stars {
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 2;
    overflow: hidden;
  }

  &__star-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__stars-svg {
    position: absolute;
    width: 120%;
    left: -10%;
    border-radius: 100%;
    animation: nightSkyStars 120s linear infinite;
    transform: rotate(0deg);
    top: -35%;
  }

  &__landscape {
    position: absolute;
    bottom: 15%;
    width: 100%;
    z-index: 5;
    animation: nightSkyFocus 60s linear infinite;
  }

  &__mountain-svg {
    width: 100%;
    height: auto;
  }

  &__mountain {
    fill: #232323;

    &-1 { animation: nightSkyMountain 60s linear infinite; }
    &-2 { animation: nightSkyMountain 60s linear infinite 0.5s; }
    &-3 { animation: nightSkyMountain 60s linear infinite 1s; }
    &-4 { animation: nightSkyMountain 60s linear infinite 1.5s; }
    &-5 { animation: nightSkyMountain 60s linear infinite 2s; }
  }

  &__sun {
    position: absolute;
    width: 21%;
    height: 4%;
    background: transparent;
    margin: auto;
    top: 57%;
    left: 0;
    right: 0;
    z-index: 3;
    animation: nightSkySunCrane 60s linear infinite;
  }

  &__sun-crane {
    width: 100%;
    height: 100%;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 120%;
      height: 120%;
      top: -10%;
      left: -10%;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ccircle cx='50' cy='50' r='40' fill='%23FFD700'/%3E%3C/svg%3E") no-repeat center;
      background-size: 100%;
      animation: nightSkyGlare 60s linear infinite;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 10%;
      height: 10%;
      top: 45%;
      left: 0;
      right: 0;
      margin: auto;
      background: white;
      border-radius: 100%;
      box-shadow: 0 0 80px 30px white;
    }
  }

  &__sun-glow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    filter: blur(10px);
    opacity: 0;
    animation: nightSkySunFocus 60s linear infinite;
  }

  &__clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    mix-blend-mode: screen;
  }

  &__cloud {
    position: absolute;
    top: 51%;
    width: 60%;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    filter: blur(2px);
    left: -60%;
    animation: nightSkyClouds 60s linear infinite;

    &-2 {
      animation-delay: -20s;
      top: 55%;
      width: 40%;
    }
  }

  &__lighting {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    opacity: 0.3;
    mask-image: gradient(linear, left 50%, left 60%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mix-blend-mode: screen;
    pointer-events: none;
    filter: blur(3px);
    transform: rotate(16deg) translate3d(9%, -47%, 0px) scale(1);
    animation: nightSkyFlaring 60s linear infinite;
  }

  &__twinkle-wrap {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.55;
  }

  &__twinkles {
    width: 2.3%;
    position: absolute;
    right: 49.2%;
    top: 72.5%;
    animation: nightSkyTwinkles 60s linear infinite;

    svg {
      width: 100%;
      position: absolute;
      top: 0;
    }

    #nightSkyTwinkle1 {
      animation: nightSkyTwinkle1 2s linear infinite;
    }
  }

  &__vignette {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent 60%, rgb(1, 14, 39) 130%);
    background-size: cover;
    z-index: 9;
    pointer-events: none;
  }
}

@keyframes nightSkyStars {
  100% { transform: rotate(-360deg); }
}

@keyframes nightSkyMountain {
  0% { fill: #0D141E; }
  4% { fill: #101522; }
  8% { fill: #121726; }
  12% { fill: #141829; }
  16% { fill: #1C1E3C; }
  20% { fill: #22214F; }
  24% { fill: #262262; }
  28% { fill: #1D4065; }
  32% { fill: #125768; }
  36% { fill: #1E4553; }
  40% { fill: #1E404E; }
  44% { fill: #1E3B49; }
  48% { fill: #1D3643; }
  52% { fill: #1C313E; }
  56% { fill: #1C3344; }
  60% { fill: #1C3449; }
  64% { fill: #1B344F; }
  68% { fill: #183454; }
  72% { fill: #242B4A; }
  76% { fill: #2B2241; }
  80% { fill: #24203C; }
  84% { fill: #1D1D37; }
  88% { fill: #151A32; }
  92% { fill: #14192C; }
  96% { fill: #111725; }
  100% { fill: #0D141E; }
}

@keyframes nightSkySunCrane {
  0% { transform: rotate(90deg); }
  100% { transform: rotate(-270deg); }
}

@keyframes nightSkyGlare {
  from { transform: rotate(90deg); opacity: 0; }
  30% { opacity: 0; }
  36% { opacity: 1; }
  68% { opacity: 1; }
  74% { opacity: 0; }
  to { transform: rotate(450deg); opacity: 0; }
}

@keyframes nightSkySunFocus {
  0% { filter: blur(10px); opacity: 0; }
  16% { filter: blur(10px); opacity: 0; }
  20% { filter: blur(10px); opacity: 0; }
  25% { filter: blur(5px); opacity: 0; }
  30% { filter: blur(0px); opacity: 1; }
  80% { filter: blur(0px); opacity: 1; }
  88% { filter: blur(5px); opacity: 0; }
  100% { filter: blur(10px); opacity: 0; }
}

@keyframes nightSkyClouds {
  0% { transform: translate3d(110%, 0px, 0px); opacity: 0; }
  19% { opacity: 0; filter: blur(5px); }
  25% { opacity: 0.3; filter: blur(2px); }
  50% { opacity: 0.6; }
  75% { opacity: 0.2; }
  90% { opacity: 0; }
  100% { transform: translate3d(150%, 0px, 0px); opacity: 0; }
}

@keyframes nightSkyFlaring {
  0% { opacity: 0; }
  28% { opacity: 0; }
  35% { opacity: 1; }
  70% { opacity: 1; }
  78% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes nightSkyTwinkles {
  0% { transform: translate(450%, 0%); opacity: 0; }
  32% { opacity: 0; }
  34% { opacity: 1; }
  36.5% { transform: translate(450%, 0%); }
  54% { transform: translate(0%, 0%); }
  72% { transform: translate(-450%, 0%); opacity: 1; }
  78% { opacity: 0; }
  100% { transform: translate(-450%, 0%); opacity: 0; }
}

@keyframes nightSkyTwinkle1 {
  0% { opacity: 1; }
  33.33% { opacity: 0; }
  66.66% { opacity: 0; }
  99.99% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes nightSkyFocus {
  0% { filter: blur(5px); }
  16% { filter: blur(2px); }
  20% { filter: blur(0px); }
  80% { filter: blur(0px); }
  88% { filter: blur(2px); }
  100% { filter: blur(5px); }
}
